@{
    ViewData["Title"] = "Home Page";
}

<style>
    p {
        padding-left: 225px;
        padding-right: 225px;
    }
</style>

<div class="text-center">
    <img id="logo" src="TAC_Buddy_Logo.png" alt="alt text here" width="300"/>
    <h4><b>Welcome to TAC Buddy!</b></h4>
    <p>
        Tac Buddy is a multi-purpose toolkit designed for common needs amongst military small-unit leaders. Tac Buddy provides tools for
        personnel and gear accountability/management, commonly used unit conversion calculators along with radio comms templates, and even a
        Map with all necessary targeting data for tactical applications.
    </p>
    <h5>
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </h5>
</div>
