@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 250px;
        height: auto;
    }
</style>

<div class="text-center">
    <img src="TAC_Buddy_Logo.png" alt="alt text here"/>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Click Here to Register</a>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Click Here to Login</a>
</div>
