@model TAC_Buddy2_Proj.Models.TAC_TeamMate

@{
    ViewData["Title"] = "EditTeamMate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Team Member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTeamMate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TAC_TeamMate_ID" />
            <div class="form-group">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDIPI_DoD_ID" class="control-label"></label>
                <input asp-for="EDIPI_DoD_ID" class="form-control" />
                <span asp-validation-for="EDIPI_DoD_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Billet" class="control-label"></label>
                <input asp-for="Billet" class="form-control" />
                <span asp-validation-for="Billet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MOS_designator" class="control-label"></label>
                <input asp-for="MOS_designator" class="form-control" />
                <span asp-validation-for="MOS_designator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDL_Last_Verified" class="control-label"></label>
                <input asp-for="EDL_Last_Verified" class="form-control" />
                <span asp-validation-for="EDL_Last_Verified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZAP_Number" class="control-label"></label>
                <input asp-for="ZAP_Number" class="form-control" />
                <span asp-validation-for="ZAP_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
